:root {
    --start-node: #007bff;
    --finish-node: #28a745;
    --default-node: #b4b4b4;
    --shortest-path-node: #c8e8ff;
    --wall-node: #dc3545;
}

body {
    background-color: #fff;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.node {
    flex: 0 0 25px;
    width: 25px;
    height: 25px;
    outline: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 2px;
    border-radius: 20%;
    background-color: var(--default-node);
    transition: background-color 0.3s ease-out;
}

.node-finish {
    background-color: var(--finish-node);
}

.node-start {
    background-color: var(--start-node);
}


.node-visited {
    animation-name: visitedAnimation;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

@keyframes visitedAnimation {
    0% {
        transform: scale(0.1);
        background-color: rgb(96, 41, 255);
        border-radius: 50%;
    }

    25% {
        transform: scale(0.5);
        background-color: rgb(119, 75, 255);
    }

    50% {
        background-color: rgb(161, 128, 255);
    }

    75% {
        transform: scale(1.1);
        background-color: rgb(197, 176, 255);
    }

    100% {
        transform: scale(1);
        background-color: rgb(193, 172, 255);
    }
}

.node-wall {
    background-color: var(--wall-node);
    background-image: url('/src/images/warning-icon.png');
    background-size: cover;
    background-position: center;
}

.node-shortest-path-removed {
    background-color: transparent;
    border-color: rgba(255, 255, 255, 0.2);
}



.node-shortest-path {
    animation-name: shortestPath;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
    background-image: url('/src/images/drone-icon.png');
    background-size: cover;
    background-position: center;
}

.node-reversed-path {
    animation-name: reversedPath;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

@keyframes shortestPath {
    0% {
        transform: scale(0.6);
        background-color: var(--shortest-path-node);
    }

    50% {
        transform: scale(1.2);
        background-color: var(--shortest-path-node);  }

    100% {
        transform: scale(1);
        background-color: var(--shortest-path-node);  }
}

@keyframes reversedPath {
    0% {
        transform: scale(0.6);
        background-color: blueviolet;
    }

    50% {
        transform: scale(1.2);
        background-color: blueviolet;
    }

    100% {
        transform: scale(1);
        background-color: blueviolet;
    }
}